body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.auto-grid-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1em;
}

.adminButtons {
    display: flex;
    margin-right: 1em;
    gap: 1em;
}

.adminButtons button {
    background: none;
    border: none;
}

.adminButtons button:hover {
    border-bottom: 2px solid black;
}